# === SO / Sistema ===
.DS_Store
Thumbs.db
ehthumbs.db
Icon?
.Trashes

# === Temporários comuns ===
*~
*.tmp
*.swp
*.bak
*.log
*.report

# === Compilados / binários ===
*.o
*.obj
*.exe
*.dll
*.so
*.dylib
*.class
*.jar

# === Python ===
__pycache__/
*.py[cod]
*.pyo
*.pyd

# === Ambientes virtuais ===
.env
.venv/
venv/
env/

# === Build / Dist ===
/build/
/dist/
/bin/
/obj/
/out/

# === IDEs / Editores ===
.vscode/
*.code-workspace
.idea/
*.iml

# === PlatformIO ===
.pio/
.piolibdeps/

# === Arquivos grandes ou brutos (ajuste conforme necessidade) ===
*.csv
*.xlsx
*.wav
*.mp3